*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(95, 55, 7);
    margin-left: 150px;
    margin-top: 80px;
    flex-direction: column;
    color: rgb(193, 196, 198);
}
.wrapper-box-one{
    margin-top: 50px;
    text-align: center;
}
.wrapper-box-one p{
    font-size: 10px;
    margin-top: 15px;
}
.wrapper-items{
display: flex;
text-align: center;
gap: 100px;
margin-top: 30px;
}
.wrapper-box{
    margin-top: 70px;
    width: 50%;
    height: 40vh;
    background-color: antiquewhite;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.wrapper-boxes form input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
    height: 5vh;
    

}
.wrapper-boxes form{
    display: flex;
    flex-direction: column;
}
.wrapper-btn {
    display: flex;
    flex-direction: column;
    
}
.wrapper-btn button{
    height: 5vh;
    background-color: rgb(95, 55, 7) ;
    color: azure;
    border-radius: 7px;
}